*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 22px;
    background-color: #eee;
    background-image: url("../img/background/ava7patterns_pattern_1360.png");
}

h1 {
    text-align: center;
    margin-top: 30px;
  }  

  h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  } 

ol{
    display: inline-block;
    transition: 0.3s;
    transform: scale(1);
}

ol>ul{
    padding-left: 20px;
}

ol>li:hover{
    color: rgb(186, 154, 80);
    transform: scale(1.07); 
}

ul>li:hover{
    color: rgb(170, 80, 186);
    transform: scale(1.07); 
}

a{
    color: inherit;
    text-decoration: none;
}

ol>li>a:hover {
    border-bottom: 2px solid;
   }

.wrapper {
    overflow: hidden;
    margin: 30px auto;
    max-width: 1000px;
    padding: 25px;
    background-color: rgb(244, 227, 193, 0.3);
}

.wrapper img {
    width: 100%;
  }

.header {
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.main {

}

.main section:nth-child(2n){
    color: rgb(117, 13, 65);
}

.main section:nth-child(2n+1){
    color: rgb(105, 62, 7);
}

.source{
    margin-top: 15px;
}

.footer {
    margin-top: 20px;
    overflow-wrap: break-word;
}